.title {
    font-weight: normal;
}

.radio {
    display: none;
}

.container{
    position: absolute;
}

.label {
    position: relative;
    color:#c90b0b;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 20px;
    padding: 10px 10px;
    align-items: center;
    display: flex;
    border: 2px solid #c90b0b;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 200px;
}


.radio:checked + .label{
    background-color: #c90b0b;
    color: #fff;
}

.container__button{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    height: 20px;
}